@import "compass/css3/animation";
@import "compass/css3/opacity";
@import "compass/css3/transform";

.client {
	#photo-controls-dialog, #image-preview-dialog, #end-dialog {
		display: none;
	}

	#container {
		width: 80%;
		display: block;
		margin: 0 auto;
	}

	#photo-preview {
		max-width: 80%;
		display: block;
		margin: 0 auto;
	}
	#image-preview-dialog .center-btns {
		margin-top: 20px;
		text-align: center;
	}
	#messaging {
		padding: 9px 15px;
	}

}


.local {

	.step1 {
		
	}

	.step2 {
		display: none;
	}

	.step3 {
		display: none;
	}

	.overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		@include opacity(0);
		background-color: #000;
		z-index: 1000;
	}

	.screensave {
		@include animation(shutter 3s ease-out forwards);
	}

	@include keyframes(shutter) {
		0% { @include opacity(0.0); 
		}
		50% { @include opacity(1); 
		}
		100%  { @include opacity(0.0); 
		}
	}



}