<!doctype html>
<html>

<head>

	<link type="text/css" rel="stylesheet" href="css/vendor/normalize.css">
	<link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>


	<script type="text/javascript" src="js/vendor/socket.io.js"></script>
	<script type="text/javascript" src="js/vendor/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>


    <title>{{title}}</title>


	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>


<body class="{{{bodyclass}}}">

	{{{body}}}
	
</body>

</html>