
<div class="container">
	<div class="row">
		<div class="page-header col-sm-12">
			<h1>{{{ title }}}</h1>
		</div>


		<p id="messaging" class="lead">Please enter your username below</p>
	</div>


	<div class="row">
		<div id="login-dialog" class="col-md-12">
			<form>

				<div class="input-group">
					<input type="text" class="form-control" placeholder="TMW Username" id="user-input">
					<span class="input-group-btn">
						<button class="btn btn-primary" type="button" id="login-submit">Go!</button>
					</span>
				</div>

			</form>
		</div>
	</div>

	<div class="row">
		<div id="photo-controls-dialog" class="col-md-12">
			<button class="btn btn-primary" id="takephoto">Take Photo</button>
		</div>
	</div>

	<div id="image-preview-dialog" class="row">
		<div class="col-md-12">
			<img id="photo-preview" src="" />
		</div>

		<div class="row">
		<div class="col-md-12 center-btns">
				<button class="btn btn-primary" id="tryagain">Try Again</button>
				<button class="btn btn-primary" id="usephoto">Use This</button>
			</div>
		</div>

	</div>

	<div class="row">
		<div id="end-dialog" class="col-md-12">
			<button class="btn btn-default" id="restart">Restart</button>
		</div>
	</div>
</div>