<div class="overlay"></div>
<div class="container">
	<div class="row">
		<div class="page-header col-sm-12">
			<h1>{{{ title }}}</h1>
		</div>
	</div>

	<div class="step1 row col-sm-8">
		<div class="row col-sm-12">
			<p class="lead">
				Please ensure your smartphone is connected to the CRE_House WiFi network then 
				visit <strong>http://photo.tmw.co.uk</strong> to get started.
			</p>
		</div>

		<div class="row col-sm-12">
			<ul>
				<li><img src="images/wifi_icon.png"><p>WiFi: CRE_House<br>Pword: Tog3th$r</p></li>
				<li><img src="images/url_icon.png"><p>http://photo.tmw.co.uk</p></li>
			</ul>
		</div>
	</div>


	<div class="step2 row col-sm-8">
		<p class="lead">
			Hello! Please log in using your smartphone to continue
		</p>
	</div>

	<div class="step3 row col-sm-8">
		<p class="lead">
			Get in position and press the 'Take photo' button when you're ready. You'll have 5 seconds to check yourself via the live preview.
		</p>
	</div>

</div>

<script type="text/javascript">
	$(document).ready( function() {
		PiBooth.Local.init();
	});
</script>