#takepic {
  text-align: center;
  display: none;
}
#takepic-div {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #477DCA;
  border: 3px solid #eee;
}
