/* line 6, ../../scss/styles.scss */
.client #photo-controls-dialog, .client #image-preview-dialog, .client #end-dialog {
  display: none;
}
/* line 10, ../../scss/styles.scss */
.client #container {
  width: 80%;
  display: block;
  margin: 0 auto;
}
/* line 16, ../../scss/styles.scss */
.client #photo-preview {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
/* line 21, ../../scss/styles.scss */
.client #image-preview-dialog .center-btns {
  margin-top: 20px;
  text-align: center;
}
/* line 25, ../../scss/styles.scss */
.client #messaging {
  padding: 9px 15px;
}

/* line 38, ../../scss/styles.scss */
.local .step2 {
  display: none;
}
/* line 42, ../../scss/styles.scss */
.local .step3 {
  display: none;
}
/* line 46, ../../scss/styles.scss */
.local .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background-color: #000;
  z-index: 1000;
}
/* line 57, ../../scss/styles.scss */
.local .screensave {
  -moz-animation: shutter 3s ease-out forwards;
  -webkit-animation: shutter 3s ease-out forwards;
  animation: shutter 3s ease-out forwards;
}
@-moz-keyframes shutter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes shutter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shutter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
